.msj_error{
    color: red;
    font-style: italic;
}

.vacia{
    text-align: center;
}

footer{
    bottom: 1em;
    position: fixed;
    text-align: center;
}

textarea{
    resize: none;
}

/* Barra de navegacion *****************************************/

header{
    left: 0;
    top: 0;
    position: fixed;
    border-bottom: solid 1px;
    background-color:#ca002f;
    height: 3em;
    width: 100%;
}

header .topnav{
    display: flex;
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: space-around;
    flex-direction:row;
}

header .topnav a{
    font-family: arial sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;

}

header .topnav a:hover{
    background-color: #ec9da0;
}

header .topnav .active{
    background-color: #570a0a;
}

/* Fondo *****************************************/

html{
    background-color: #570a0a;
    overflow:  hidden;
}

body{
    margin-top: 48px;
    background-color: white;
}

.cuerpo{
    margin-top: 0;
    overflow-y: auto;
    max-height: 99.9%;
}

main{
    padding-top: 1em;

    /*sangria general*/
    margin-left: 2em;
    display: flex;
    flex-direction: column;
}

/*Titulos*/
main h2{
    text-align: center;
}

/* Login *****************************************/

.centrado{
    text-align: center;
}

.inicio-sesion{
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    display: flex;
    flex-direction: column;
}

/* Home *****************************************/
.columnado{
    display: flex;
    justify-content: space-around;
}

.sangria{ /*tambiÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©n se usa en signup*/
    margin-left: 10em;
}

/* locales ************************************/
.buscador{
    width: 25em;
    margin-bottom: 1em;
}

.local-listado{
    text-align: justify;
}

.local-listado p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Menu ****************************************/
.item-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
    background-color: #ece5e570;
    padding: 0.8em;
    border-radius: 1em;
}

.item-container div {
    word-wrap: break-word;
    width: 6em;
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.5em;
    font-size: 1em;
}

/* Tabla carrito *******************************/
table {
    font-family: arial, sans-serif;
    font-size: 11px;
    border-collapse: collapse;
    text-overflow: ellipsis;
}

td, th {
    word-wrap: break-word;
    border: 1px solid black;
    text-align: center;
    padding: 0.5em;
}

table .linea-divisoria{
    border-top: 0.2em solid black;
}

/* Descuentos ********************************/
.msj_positivo{
    color: #07d407;
}

/* Notificaciones ***************************/
.notificacion{
    width: 30em;
}

.notificacion h3{
    background-color: #dad6d0;
}
.notificacion p{
    text-align: justify;
}

/* Estados de Dominio.Pedidos ***********************/
.Pendiente{
    background-color: rgb(255,196,12);
    font-family: Stencil, serif;
}

.Rechazado{
    background-color: red;
    font-family: Stencil, serif;
}

.Entregado{
    background-color: #09a709;
    font-family: Stencil, serif;
}

.Confirmado{
    background-color: #07c3c3;
    font-family: Stencil, serif;
}

/* Forms **************************************/
.form-articulado{ /*signup y armado de combo*/
    display: flex;
    flex-direction: column;
}

.form-articulado label{
    display: inline-block;
    width: 150px;
}

.form-articulado article{
    border: 1px solid #00000026;
    padding: 1em;
    border-radius: 1em;
}

.form-articulado article h3{
    text-align: center;
}

.form-articulado label+input{
    margin-bottom: 0.5em;
}

.columnas-juntas{
    display: flex;
    justify-content: space-evenly
}

.form-articulado input[type=submit]{
    margin: 2em auto;
    width: 20em;
}

.form-articulado .msj_error{
    margin: 0 auto;
}

.borde-redondeado{
    border: 1px solid #00000026;
    padding: 0 1em;
    justify-content: space-around;
    border-radius: 1em;
}

.borde-redondeado input, textarea{
    margin: 0.5em 0;
    width: 13em;
}

.form-plato{
    display: flex;
    flex-direction: column;
    border: 1px solid #00000026;
    border-radius: 1em;
    padding: 1em;
    align-items: center;
    margin: 0 auto;
    width: 13em;
}
