body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header{
    display: flex;
    border: solid 1px;
    background-color:#ca002f;
    height: 10%;
    width: 99%;
    align-items: center;
    justify-content: space-around;
    flex-direction:row;
}

header .topnav{
    display: flex;
    height: 10%;
    width: 99%;
    align-items: center;
    justify-content: space-around;
    flex-direction:row;
}

.topnav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:row;
}

.topnav a{
    font-family: arial sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;

}

.columnado{
    display: flex;
    justify-content: space-around;
}

.filas_centradas{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nombre-titulo{
    text-align: justify;
}

.msj_error{
    color: red;
    font-style: italic;
}

/*local vista del cliente*/
.local{
    width: 60%;
    margin-top: 2%;
    margin-right: 45%;
    margin-left: 2.5%;
    left: 3.5%;
    position: absolute;
}

.datos-local{
    margin-top: 2%;
    border-radius: 10%;
    padding: 1px 10px;
}

.carrito{
    margin-top: 2%;
    border-radius: 5%;
    background-color: #f8c4c4;
    padding: 1px 10px;
    right: 1%;
    left: 60%;
    width: 36.5%;
    position: absolute
}
/*Tabla*/
table {
    font-family: arial, sans-serif;
    border-color: #570a0a;
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
    text-overflow: ellipsis;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

td{
    word-wrap: break-word;
}

tr:nth-child(odd) {
    background-color: rgba(92, 2, 2, 0.27);
}
tr:nth-child(even) {
    background-color: #dddddd;
}