<!-- Local -->

    {{#partial "titulo"}}
        <title>Nuevo Combo</title>
    {{/partial}}

    {{#partial "contenido"}}
        <section id="Registro-combos">
            <h2>Armar Combo</h2>

            <form action="/platos" method="POST">
                <input type="hidden" name="tipo" value="combo"><br>

                <label>Nombre del combo: </label>
                <input type="text" name="nombre" required><br>

                <input type="submit" value="Crear combo"><p class="msj_error">{{mensaje}}</p><br>

                <div id="componentes">
                    <h4>Componentes</h4>
                    {{#platosDelLocal}}
                        <label>{{nombre}}</label>
                        <input type="number" name="{{nombre}}" value="0" min="0">
                        <br>
                    {{else}}
                        <p>Aquí se verán sus platos</p>
                    {{/platosDelLocal}}
                </div>
            </form>
        </section>
    {{/partial}}

{{> layout_local.html.hbs }}
