
{{#partial "topnav"}}
    <a href="/home" {{#block "nav-menu"}}{{/block}}>Menu</a>
    <a href="/pedidos" {{#block "nav-pedidos"}}{{/block}}>Pedidos</a>
    <a href="/notificaciones" {{#block "nav-notificaciones"}}{{/block}}>Notificaciones</a>
    <a href="/logout">Salir</a>
{{/partial}}

{{>layout_general.html.hbs}}