
{{#partial "topnav"}}
    <a href="/home">Menu</a>
    <a href="/pedidos">Pedidos</a>
    <a href="/notificaciones">Notificaciones</a>
    <a href="/logout">Salir</a>
{{/partial}}

{{>layout_general.html.hbs}}