<!DOCTYPE html>
<html>
<head>
    <title>Locales</title>
</head>
<body>

<section>
    <div id="locales">
        Locales:
        <ul>
        {{#Locales}}
            <li><a href="/locales/{{id}}">{{nombre}}</a></li>
        {{/Locales}}
        </ul>
    </div>
</section>
</body>
</html>
