
<!DOCTYPE html>
<html>
    <head>
        <title>Pedidos Ya</title>
    </head>

    <body>
        <section id="Inicio de sesion">
            <h2>Iniciar sesión</h2>
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Username" required="required">
                <input type="password" name="password" placeholder="Password" required="required">
                <input type="submit" value="Iniciar Sesión"><p style="color:Red;">{{mensaje}}</p>
                <br>
            </form>
        </section>
    </body>
</html>

