{{#partial "titulo"}}
    <title>Pedidos Ya</title>
{{/partial}}

{{#partial "contenido"}}
    <div class="centrado">
        <section id="Inicio de sesion">
            <h2>Pedi2 Ya</h2>
            <form action="/login" method="POST" class="inicio-sesion">
                <input type="text" name="username" placeholder="Username" required="required">
                <input type="password" name="password" placeholder="Password" required="required">
                <input type="submit" value="Iniciar Sesión"><p class="msj_error">{{mensaje}}</p>
                <br>
            </form>
        </section>
        <section id="nuevo usuario">
            <p>¿Todavía no tienes una cuenta?</p> <a href="/signup">¡Registrate gratis!</a>
        </section>
    </div>
{{/partial}}

{{>layout_general.html.hbs}}

