
{{#partial "titulo"}}
    <title>Pedidos Ya</title>
{{/partial}}

{{#partial "contenido"}}
    <section id="Registro-platos">
        <h2>Crear Plato</h2>
        <form action="/platos" method="POST" class="form-plato">
            <input type="text" name="nombre" placeholder="Nombre del Plato">
            <br>
            <textarea name="descripcion" rows="3" class="auto_height" placeholder="Descripción"></textarea>
            <br>
            <textarea name="ingredientes" required rows="3" placeholder="Ingrese los ingredientes separados por una coma"></textarea>
            <br>
            <input type="number" name="precio" step="0.10" min="0" required placeholder="Precio">
            <br>
            <input type="hidden" name="tipo" value="simple" required>
            <br>
            <div>
                <input type="submit" value="Crear Plato"><p class="msj_error">{{mensaje}}</p>
            </div>
            <br>
        </form>
    </section>

{{/partial}}

{{>layout_local.html.hbs}}