<!DOCTYPE html>
<html>
<head>
    <title>Plato</title>
</head>
<body>

<nav>
    <H3>{{nombre}}</H3>
    <div id="plato">
        Datos del plato:
        <ul>
            <li><Strong>Precio: </Strong>${{precio}}</li>
        </ul>
    </div>
</nav>
</body>
</html>
