
{{#partial "titulo"}}
    <title>Pedidos Ya</title>
{{/partial}}

{{#partial "contenido"}}
    <section id="Registro-platos">
        <h2>Crear Plato</h2>
        <form action="/platos" method="POST">
            <label>Nombre del plato: </label>
            <input type="text" name="nombre"><br>

            <label>Descripcion: </label>
            <input type="text" name="descripcion" required><br>

            <label>Precio: </label>
            <input type="number" name="precio" step="0.10" min="0" required><br>

            <label>Ingredientes: </label>
            <input type="text" name="ingredientes" required><br>

            <input type="hidden" name="tipo" value="simple" required><br>

            <input type="submit" value="Crear Plato"><p class="msj_error">{{mensaje}}</p><br>
        </form>
    </section>

{{/partial}}

{{>layout_local.html.hbs}}