<!DOCTYPE html>
<html>
<head>
    <title>Plato</title>
</head>
<body>

<nav>
    <H3>{{nombre}}</H3>
    <div id="plato">
        Datos del plato:
        <ul>
            <li><Strong>Precio: </Strong>${{precio}}</li>
        </ul>
    </div>

    <div id="compra">
        <form action="/carrito" method="POST">
            <label>Cantidad</label>
            <input type="number" name="cantidad" required="required"> <br>
            <label>Aclaraciones</label>
            <input type="text" name="aclaraciones" id="idAclaraciones"> <br>
            <input type="submit" value="Agregar al carrito"><p style="color:Red;">{{mensaje}}</p>
        </form>
    </div>
</nav>
</body>
</html>
