{{#partial "titulo"}}
    <title>Pedidos Ya</title>
{{/partial}}
{{#partial "contenido"}}
    <section id="Registro-clientes" class="form-centrado">
        <h2>Registrarse</h2>
        <form action="/signup" method="POST" class="justificado">
            {{#if local}}<h3>Datos del dueño</h3>{{/if}}

            <label>Datos Personales: </label><br>
            <input placeholder="Nombre" type="text" name="nombre" required pattern="[a-zA-Z]*"><br>
            <input placeholder="Apellido" type="text" name="apellido" required pattern="[a-zA-Z]*"><br>
            <input placeholder="Direccion" type="text" name="direccion" required><br>
            <input placeholder="Correo Electrónico" type="text" name="mail" required><br>

            <div>
                <label>Nuevo Usuario: </label>
                <input type="text" name="username" required="required" pattern="[a-zA-Z]*"><br>
            </div>

            <div>
                <label>Nueva Contraseña: </label>
                <input type="password" name="password" required="required"><br>
            </div>

            <div>
                <label>Repita la contraseña: </label>
                <input type="password" name="contraseniaDuplicada" required="required"><br>
            </div>

            <div>
                <input name="notif_mail" type="checkbox"> Deseo recibir las notificaciones también por mail<br>
            </div>

            {{#if local}}
                <div id="datos_local">
                    <h3>Datos del Local</h3>
                    <label>Nombre: </label>
                    <input type="text" name="nombreLocal" required><br>

                    <label>Calle: </label>
                    <input type="text" name="calleLocal" required><br>

                    <label>Categoria </label>
                    <select class="form-control" name="categoriaLocal" required>
                        {{#categorias}}
                            <option value="{{this}}">{{this}}</option>
                        {{/categorias}}
                    </select>
                </div>
            {{/if}}
            <input type="submit" value="Registrarme"><p class="msj_error">{{mensaje}}</p><br>
        </form>
    </section>
{{/partial}}

{{>layout_general.html.hbs}}
